header {
    background-color: #FF9100;
}

.headerContainer {
    max-width: 1180px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.center {
    max-width: 1180px;
	margin: 0 auto;
}

.contaniner {
    margin-top: 2rem;
}
